<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="hotButtonApp" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Hot Button</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="bower_components/bootstrap-css/css/bootstrap.min.css">
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script> 
  <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
  <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
  <script src="components/version/version.js"></script>
  <script src="components/version/version-directive.js"></script>
  <script src="components/version/interpolate-filter.js"></script>
  <script src="posts.js"></script>
 </head>
<body>
  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <!--<div ng-view></div> -->

  <!-- <div>Angular seed app: v<span app-version></span></div> -->

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  
  <style>
  </style>
  
  <script>
    var hotButtonApp = angular.module('hotButtonApp', ['ui.bootstrap']);
    
    var full_candidates = {
	'Hillary Clinton':{
	    name:'Hillary Clinton',
	    image:'https://upload.wikimedia.org/wikipedia/commons/thumb/a/a3/Secretary_Clinton_8x10_2400_1.jpg/800px-Secretary_Clinton_8x10_2400_1.jpg'
	},         
	'Bernie Sanders':{
	    name:'Bernie Sanders',
	    image:'https://upload.wikimedia.org/wikipedia/commons/d/de/Bernie_Sanders.jpg'
	},                                  
	'Jeb Bush':{
	    name:'Jeb Bush',
	    image:'https://upload.wikimedia.org/wikipedia/commons/thumb/c/ca/Jeb_Bush_at_Southern_Republican_Leadership_Conference_May_2015_by_Vadon_02.jpg/800px-Jeb_Bush_at_Southern_Republican_Leadership_Conference_May_2015_by_Vadon_02.jpg'
	},
	'Donald Trump':{
	    name:'Donald Trump',
	    image:'https://upload.wikimedia.org/wikipedia/commons/b/b3/Donald_August_19_%28cropped%29.jpg'
	},
	'Ted Cruz':{
	    name:'Ted Cruz',
	    image:'https://upload.wikimedia.org/wikipedia/commons/thumb/8/87/Ted_Cruz%2C_official_portrait%2C_113th_Congress.jpg/1280px-Ted_Cruz%2C_official_portrait%2C_113th_Congress.jpg'
	}
    };                                  
    
    hotButtonApp.controller('CandidateListController', function($scope, $uibModal) {                        
	$scope.full_candidates = full_candidates;
	$scope.candidates = [];
	$scope.posts = posts;
	$scope.add_candidate = function (name) {
	    if(!(name in $scope.posts)){
		$scope.posts[name]=[];
	    }
	};

	$scope.openAddCandidateModal = function () {
	    var modalInstance = $uibModal.open({
		animation: true,
		templateUrl: 'AddCandidateModal.html',
		controller: 'ModalInstanceCtrl',
		bindToControlle:true,
		scope:$scope
	    });
	};
    });

    hotButtonApp.directive('board', function(){
	return{
	    restrict: 'E',
	    scope: true,
	    templateUrl: 'board_template.html',
	    link: function(scope, element, attrs) {
	    }
	};
    });
    
    hotButtonApp.directive('candidate', function() {
	return{
	    restrict: 'E',
	    scope: {
		data: '=data'
	    },
	    templateUrl: 'candidate_template.html',
	    link: function(scope, element, attrs) {
		scope.candidate = scope.data
	    }
	};
    });

    hotButtonApp.directive('post', function() {
	return{
	    restrict: 'E',
	    scope: {
		data: '=data'
	    },
	    templateUrl: 'post_template.html',
	    link: function(scope, element, attrs) {
		scope.post = scope.data
	    }
	};
    });

    hotButtonApp.controller('ModalInstanceCtrl', function ($scope, $uibModalInstance) {
	$scope.ok = function () {
	    $uibModalInstance.close();
	};
    });


  </script>


  
  
  <div ng-controller='CandidateListController'>
    <button class="button" ng-click="openAddCandidateModal()"">Add candidate</button>
    
    <script type="text/ng-template" id="AddCandidateModal.html">
      <div class="modal-header">
        <h3 class="modal-title">Choose a candidate</h3>
      </div>
      <div class="modal-body">
        <ul>
          <li ng-repeat="(name, candidate) in full_candidates">
	    <candidate data="candidate" ng-click="add_candidate(name)"></candidate>
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
      </div>
    </script>

    <div class="board-canvas">
      <board></board>
    </div>
  </div>

</body>
</html>
<!--
     It would be nice if all you ever have to sync is the posts by a given user and not the candidates.
     
   -->

<!-- -ng-style="{ 'width' : width}" -->
<!-- - 	/* for(var i=0; i < board1["posts"].length; i++){
     if( !$scope.posts[board1["posts"][i].candidate]){
     $scope.posts[board1["posts"][i].candidate] = []; 
     }
     $scope.posts[board1["posts"][i].candidate].push(board1["posts"][i]);
     console.log(board1["posts"][i].candidate);
     }
     console.log('posts', $scope.posts); */
     //$scope.width = candidates.length*1000;
 -->
<!-- -	    /* link: function(scope, element, attrs) {
     console.log(scope.data)
     scope.data = JSON.parse(scope.data);
     console.log(scope.data)
     scope.candidates = JSON.parse(scope.data.candidates);
     scope.posts_list = JSON.parse(scope.data.posts);
     scope.posts = {};
     for(var i=0; i < scope.posts_list.length; i++){
     if( !scope.posts[scope.posts_list[i].candidate]){
     scope.posts[scope.posts_list[i].candidate] = []; 
     }
     scope.posts[scope.posts_list[i].candidate].push(scope.posts_list[i]);
     }
     console.log(scope.posts);
     } */
 -->
