<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>My AngularJS App</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
  <link rel="stylesheet" href="app.css">
  <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
  <!-- Latest compiled and minified CSS -->
  <!link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  
  <script src="board/board1.js"></script>
  <script src="board/board2.js"></script>
 </head>
<body>
  <ul class="menu">
    <li><a href="#/view1">view1</a></li>
    <li><a href="#/view2">view2</a></li>
    <li><a href="#/board">board</a></li>
  </ul>

  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <!--<div ng-view></div> -->

  <!-- <div>Angular seed app: v<span app-version></span></div> -->

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="app.js"></script>
  <script src="view1/view1.js"></script>
  <script src="view2/view2.js"></script>
  <script src="board/board.js"></script>
  <script src="components/version/version.js"></script>
  <script src="components/version/version-directive.js"></script>
  <script src="components/version/interpolate-filter.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
  
  <style>
    .float-wrap {
    
    margin-left: 500px;
    width: 600px;
    //border: 1px solid;
    overflow-x: scroll;
    overflow: auto;
    }
    
    .left-floater {
    width: 200px;
    height:400px;
    border: 1px solid;
    float: left;
    }
    
    .outer {
    } 

    .button{
    margin-left: 500px
    }

    .post{
      margin-top: 10px
    }

    a.boxclose{
    float:right;
    margin-top:-30px;
    margin-right:-30px;
    cursor:pointer;
    color: #fff;
    border: 1px solid #AEAEAE;
    border-radius: 30px;
    background: #605F61;
    font-size: 31px;
    font-weight: bold;
    display: inline-block;
    line-height: 0px;
    padding: 11px 3px;       
  }

.boxclose:before {
    content: "×";
  }

}  

  </style>

  <script>                                                          
    var students =
    [
    {name:'Hillary Clinton', id:1, posts:['Hillary doesnt shower']},                 
    {name:'Bernie Sanders', id:2, posts:["Bernie showers too much"]}, 
    {name:'J Bush', id:3, posts:["Bush is taxing showering"]}

    ];                                  

    // var posts = [
    // {name:1, id:'Lionel Messi'},
    // {name:2, id:'Cristiano Ronaldo'},
    // {name:3, id:'David Beckham'}
    // ]
    
    dictionary = {'JULIUS CAESAR':'http://www.skysports.com/'}
    
    function StudentListController($scope) {                        
      $scope.students = students;
      // $scope.posts = posts
      $scope.greeting = { text: 'JULIUS CAESAR'};    
      $scope.width = students.length*2000;
      $scope.index = $scope.student 
      

    
      $scope.insertTom = function () {

        if (students.length < 20)
             $scope.students.push({name:$scope.greeting.text, id:students.length + 1, posts:[]});
      };

      $scope.insertPost = function(i) {
        index = i 
        // console.log(index)    
        $scope.students[index].posts.push("OMG IT WORKS!!")
      };    

      $scope.removeCandidate = function(i) {
        index = i 

        $scope.students.splice(index, 1)
        
      };          
    }
			    			    
  </script>



  <div class="outer" ng-controller='StudentListController'>
    <button class="button" ng-click="insertTom()">Add candidate</button>
    <input ng-model='greeting.text'>
    <div ng-app class="float-wrap" ng-style="{ 'width' : width}">
      <div ng-repeat='student in students' class='left-floater' id={{student.id}}>
	  
    <h4>{{student.name}}</h4>
	
	<div ng-repeat='post in student.posts'>
	  <div class="post">     
      <p> {{post}}</p>
    </div>
	</div>

	<div >
	  <button ng-click="removeCandidate($index)">Delete Candidate</button>
	</div>

  <div >
    <button ng-click="insertPost($index)">Add Post</button>
  </div>


      </div>
    </div>
  </div>
</body>
</html>
